/*  Arc nav bar */

*	{margin: 0; padding: 0;
 -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
li 	{list-style:none;}
a	{text-decoration:none;}
img	{border:0;}

@import url(http://fonts.googleapis.com/css?family=Strait);

body	{padding-top:99px;}
/*	Header	*/
#header	{width: 100%; height: 46px; background: #8a5ac9; border-bottom: 1px solid #050b0b; position:fixed; top:0px; z-index:99999;}

#logo	{width: 40px; float: left; margin-left: 20px; margin-top: 3px;}
#logo a img 	{max-width:100%;}



/*	Header Navigation	*/
#head-navigation 	{width:400px; float:left;}
#head-navigation li	{float:left; margin:0 10px;}
#head-navigation li a	{color:#fff; opacity: .7; font: normal 16px/46px 'Strait',sans-serif;}
#head-navigation li a:hover,
#head-navigation li a.current	{opacity:1;}

/* Search Form */
#head-search		{float:right; width:350px;}
#head-search span	{float:left; color: #fff; 
font:normal 10px/40px 'Strait',sans-serif;}

#searchform		{float:left; position:relative; margin-right:20px; margin-top:8px; }
#searchform input	{width:250px; height:30px; background:#684399; border:0; border-radius: 18px; margin-left:10px; text-indent:20px; color:white; box-shadow: inset 2px 2px 2px rgba(0,0,0,.15) ;}
#searchform input:focus	{outline:0;}
#searchform input.btn {width:11px; height:13px; background: url(http://www.clipartbest.com/cliparts/dir/aXn/diraXnR6T.png) no-repeat -31px -350px; right: 15px; top: 10px; z-index:10; position:absolute; cursor:pointer;}
