body {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 100px;
  background-color: white;
}

h1 {
  display: block;
  font-size: 50px;
  margin: 20px auto 0;
  width: 975px;
}

h1>small {
  color: #aaaaaa;
  font-size: .6em;
  
}

header {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  margin:   1px auto 50px;
  height:   300px;
  position: relative;
  width:    975px;
}

figure.profile-banner {
  left:     -200; /* bg pic -10 -230*/
  right:    -175;
  overflow: hidden;
  position: absolute;
  top:      -75;
  bottom:   -0;
  z-index:  1;
    -webkit-filter: blur(0px); /* nvm this */
    filter: blur(0px);
}
.stretch {
    width:100%;
    height:100%;
}

figure.profile-picture {
  background-position: center center;
  background-size: cover;
  border: 3px #efefef solid;
  border-radius: 30%;
  bottom: 20px;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2), 1px 1px 4px rgba(0,0,0,0.3);
  height: 137px;
  left: -0px;
  position: absolute;
  width: 137px;
  z-index: 3;
}

div.profile-stats {
  bottom: -0; /* "-0" logic */
  border-top: 1px solid rgba(0,0,0,0.5);
  left: -170;
  padding: 8px 8px 8px 420px;
  position: absolute;
  right: -170;
  z-index: 2;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.51) 3%, rgba(0,0,0,0.75) 61%, rgba(0,0,0,0.5) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(3%,rgba(0,0,0,0.51)), color-stop(61%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.5)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
 background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(0,0,0,0.51) 3%,rgba(0,0,0,0.75) 61%,rgba(0,0,0,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80000000',GradientType=0 );

}

div.profile-stats ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.profile-stats ul li {
  color: #efefef;
  display: block;
  float: left;
  font-size: 24px;
  font-weight: bold;
  margin-right: 100px;
  text-shadow: 3px 1px 2px rgba(0,0,0,0.7)
}

div.profile-stats li span {
  display: block;
  font-size: 16px;
  font-weight: normal;
}

a.msg {
  background-color: #8a5ac9;
  border: 1px solid #003366;
  border-radius: 2px;
  color: white;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}
a.fol {
  background-color: #cc00cc;
  border: 1px solid #003366;
  border-radius: 2px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}
div.profile-stats a.follow.followed {
  
  /* Once again copied from Boostrap, skid*/
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

header>h1 {
  top: -60px;
  color: #ffffff;
  font-size: 46px;
  left: -135px; /* "Arc Team text name */
  position: absolute;
  z-index: 5;
}
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
    -webkit-filter: blur(7px);
    filter: blur(7px);
}
